<%- include('partials/header.ejs') %>
    <br><br>
    <h1 class="text-center display-3"><strong>Cart</strong></h1>
      <div class="px-4 px-lg-0">
    <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

        <!-- search stuff-->
        <div class="container">
            <table class="table">
            <% let totalPrice = 0 
                cartProds.forEach( function(product){ 
                    totalPrice += product.price%> 
            
                <tr>
                    <td><img class="rounded" src="<%= product.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= product.name %></h2></td>
                    <td class="align-middle"><h2>$<%= product.price %></h2></td>
               </tr>
                
            <% })  %>
            
            </table>
        </div>
        
        <br>
        <h2 class="text-center">Total Price: $<%=totalPrice%></h2>
        <br>
        <div class="text-center">
            <button id="clearBtn" class="btn btn-primary">Clear Cart</button><br><br>
            <button id="checkout" class="btn btn-primary">Checkout Cart</button><br><br>
        </div>
    </body>
    <script>
            $(document).ready(function() {
                $("#clearBtn").on("click", function(){
                    
                    location.href = "/clearCart"; //redirects to admin route
                    
                });//click
            }); //document.ready
            
             $(document).ready(function() {
                $("#checkout").on("click", function(){
                    location.href = "/clearCart";
                    alert("Checkout successful");
                    
                    
                });//click
            }); //document.ready
        </script>
</html>