<%- include('partials/header.ejs') %>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
                .checked {
                  color: orange;
                }
        </style>
</head>
        <div class="card mb-3">
        <div class="row no-gutters">
        <div class="col-md-4">
        <img src="<%=product.image%>"width=480 height=480>
        </div>
        <div class="col-md-8">
        <div class="card-body">
        <h2 class="card-title"><%= product.name %></h2>
        <h3 class="card-text">$<%= product.price %>.00</h3>
        <p class="card-text text-danger">Only 5 left in stock!</p>
        
        <h4>Description</h4>

        <%= product.description %>
        
        <button type="button" class="btn btn-primary btn-lg btn-block">Add to Cart</button>
        </div>
        </div>
        </div>
        </div>
        
        
        <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link">Reviews (2)  <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span></a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <p class="card-text" align="left">
      <b>CatLover</b>         I love this shoe!
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span><br><br>
                
                
                <b>CatLady</b>          My cat loved these shoes!
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span><br><br>
      
    </p>
  </div>
</div>
        
    </body>
</html>