<%- include('partials/header.ejs') %>
    <body>
        <div class="jumbotron">
          <h1 class="display-4">Hello, <%= String(firstname) %>!</h1>
          <p class="lead">username: <%= String(username)%></p>
          <p class="lead">email: <%= String(email)%></p>
          <p class="lead">Number Of Purchases: <%= String(numberOfPurchases)%></p>
        </div>
    </body>
</html>