<%- include('partials/header.ejs') %>
    <script>
        function insertToCart(name, price){
                $.ajax({
                      method: "POST",
                         url: "/addToCart",
                    dataType: "JSON",
                        data: { "prodName":name,
                                "prodPrice":price},
                     success: function(result,status) {
                        alert(name + " has been added to your cart!");
                    }
                    
                });//ajax
        
        } //document.ready
        
        </script>
    <body>
        
         <h1 class="text-center display-3"><strong><i> Products For Sale </i></strong></h1>
         
        <div class="container">
            <table class="table">
            <% products.forEach( function(product){ %> 
    
                <tr>
                    <td><img class="rounded" src="<%=product.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= product.name %></h2></td>
                    <td class="align-middle"><h2>$<%= product.price %></h2></td>
                    <td class="align-middle"><button class="btn btn-primary" onclick="insertToCart('<%=product.name%>','<%=product.price%>')">Add</button></td>
                </tr>
            <% })  %>

            </table>
        </div>

    </body>
</html>