<!DOCTYPE html>
<html>
    <head>
        <title> Kitten Mittens </title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
        function insertToCart(name, price){
                $.ajax({
                      method: "POST",
                         url: "/addToCart",
                    dataType: "JSON",
                        data: { "prodName":name,
                                "prodPrice":price},
                     success: function(result,status) {
                        alert(name + " has been added to your cart!");
                    }
                    
                });//ajax
        
        } //document.ready
        
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Kitten Mittens</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
         </nav>
        
         <h1 class="text-center display-3"><strong><i> Products For Sale </i></strong></h1>
         
        <div class="container">
            <table class="table">
            <% products.forEach( function(product){ %> 
    
                <tr>
                    <td><img class="rounded" src="<%=product.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= product.name %></h2></td>
                    <td class="align-middle"><h2>$<%= product.price %></h2></td>
                    
                    <td class="align-middle"><button class="btn btn-primary" onclick="insertToCart('<%=product.name%>','<%=product.price%>')">Add</button></td>
                </tr>
            <% })  %>

            </table>
        </div>

    </body>
</html>